<full-calendar defaultView="dayGridMonth" [height]="600" [fixedWeekCount]="false" [eventLimit]="true"
    [plugins]="calendarPlugins" [weekends]="true" [events]="calendarReminders" (eventClick)="showEditReminder($event)"
    (dateClick)="addReminder($event)">
</full-calendar>
<div class="fondo-negro animated fadeIn" *ngIf="showModal">
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{isEditing?'Edit reminder':'Reminder details'}}</h5>
                    <button (click)="closeModal()" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <app-reminder [hidden]="!isEditing" [data]="reminder" (onClose)="closeModal()" (onSave) = "updateReminders()" (onCloseEdit) = "setEditReminder(false)"></app-reminder>
                    <app-view-reminder [hidden]="isEditing" [data]="reminder" [weather]="weather" (onClose)="closeModal()" (onEdit) = "setEditReminder(true)"></app-view-reminder>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>